<mat-spinner></mat-spinner>
	
	
	<div class="row">
		<div *ngFor="let item of items | async" class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">{{item.name}}</h2>
				</div>
		
				<img src="{{item.image}}" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text"><b>Q{{item.price_sale.toFixed(2)}}</b></p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
