
	<div class="row">

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card p-1 mt-2 mb-2 shadow-lg" style="width: 14rem;">
				<div class="card-header">
					<h2 class="card-title text-center">Sopa CupRamen</h2>
				</div>
		
				<img src="https://1742457249.rsc.cdn77.org/img/products/Shrimp_500.png" class="card-img-fluid"
					alt="IMG-Producto">
				<div class="card-body text-center">
					<p class="card-text">Q 05.00</p>
				</div>
		
				<div class="text-center">
					<button matTooltip="Ver producto" [routerLink]="['/proyecto']" type="button" class="btn btn-primary">
						<mat-icon>visibility</mat-icon>
					</button>
					<button matTooltip="agregar producto al carrito" [routerLink]="['/proyecto']" type="button"
						class="btn btn-warning ml-2">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
