

<h1 class="text-center">Carrito de compras</h1>
<hr>
<div class="row">
  <button
  *ngIf="products.length > 1"
  class="text-center btn btn-danger mb-4 col-md-12"
  [swal]="{ title: '¿Quieres eliminar todo?', showCancelButton: true }"
  (confirm)="deleteAllProductList()">
  Eliminar todo
  </button>
</div>

<div *ngFor="let item of this.products;let i = index" class="row shadow-lg bg-body m-2 text-center border-0 ">

    <div class="row text-center">
        <div class="col-md-1"></div>
        <div class="col-md-1"><img src="{{item.product.image}}" class="img-fluid" alt=""></div>
        <div class="col-md-2 p-md-3"><p>{{item.product.name}}</p></div>
        <div class="col-md-3 p-md-3"><p>{{"Q " + item.product.price_sale.toFixed(2)}}</p></div>
        <div class="col-md-3 d-flex justify-content-evenly mb-1">

            <a mat-fab color="primary"
            (click)="addOneUnit(item)">
              <mat-icon>add</mat-icon>
            </a>


            <h2 class="m-3">{{item.unit}}</h2>

            <a mat-fab color="primary"
            (click)="removeOneUnit(item)">
            <mat-icon class="">
              remove_one
            </mat-icon>
            </a>

        </div>
        <div class="col-md-2 d-flex justify-content-evenly">
          <a mat-fab color="warn"
            (click)="deleteOneProductList(item)">
            <mat-icon>
                delete_outline
            </mat-icon>
          </a>
        </div>
        <div class="row text-center mt-2">
          <p>Subtotal: {{"Q " + item.subtotal.toFixed(2)}}</p>
        </div>
    </div>
</div>

  <div *ngIf="products.length > 0" class="row shadow-lg p-2 text-center">

    <button class="btn btn-primary"
    (click)="confirmAdressAndOrder(this.products)"
      >
    Realizar pedido
    </button>
  </div>

  <div *ngIf="products.length == 0" class="container text-center m-4">
    <h1>Aun no tienes productos</h1>
    <a class="btn btn-primary" [routerLink]="['/inicio']" routerLinkActive="router-link-active" >Comprar ahora</a>
    <img class="img-fluid" src="https://eltrebolpremiumstore.com.ar/images/icons/cart-empty.png" alt="">
  </div>

