

<h1 class="text-center">Carrito de compras</h1>
<hr>

<button
  *ngIf="products.length > 1"
  class="text-center btn btn-warning"
  [swal]="{ title: '¿Quieres eliminar todo?', showCancelButton: true }"
  (confirm)="deleteAllProductList()">
  Eliminar todo
</button>

<table *ngIf="products.length > 0" class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Unidades</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of this.products;let i = index">
        <th  scope="row">{{i+1}}</th>
        <td>{{item.name}}</td>
        <td>Q {{item.price_sale.toFixed(2)}}</td>
        <td>
            <img width="85" height="70" class="" src="{{item.image}}" alt="image_product">
        </td>
        <td>
            <a mat-list-item class="btn btn-danger rounded-circle text-center   "
               (click)="deleteOneProductList(item)">
                <mat-icon class="">
                    delete_outline
                </mat-icon> 
            </a>
        </td>
      </tr>
      
    </tbody>
  </table>

  <div *ngIf="products.length == 0" class="container text-center m-4"> 
    <h1>Aun no tienes productos</h1>
    <img class="img-fluid" src="https://eltrebolpremiumstore.com.ar/images/icons/cart-empty.png" alt="">
  </div>

