<div class="row">
	<div class="card mb-3" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/pasta-variedades-nombres-1600784426.jpg?resize=480:*"
					class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h2 class="card-title">Pastas</h2>
					<p class="card-text">
						This is a wider card with supporting text below as a natural lead-in to additional
						content. This content is a little bit longer.
					</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-3" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Vegetables.jpg/220px-Vegetables.jpg"
					class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h2 class="card-title">Verduras y frutas</h2>
					<p class="card-text">
						This is a wider card with supporting text below as a natural lead-in to additional
						content. This content is a little bit longer.
					</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
		</div>
	</div>

	<div class="card mb-3" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="https://i.pinimg.com/236x/08/3d/3e/083d3edb1826783c19ec4bf47cff589f.jpg"
					class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h2 class="card-title">Golosinas, Dulces</h2>
					<p class="card-text">
						This is a wider card with supporting text below as a natural lead-in to additional
						content. This content is a little bit longer.
					</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
		</div>
	</div>

	<div class="card mb-3" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="http://4.bp.blogspot.com/_HMilFDW4s8g/SbVJudk7qqI/AAAAAAAAAJ4/KAZtQLB_jZo/s400/maruchan.jpg"
					class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h2 class="card-title">Comida instantanea</h2>
					<p class="card-text">
						This is a wider card with supporting text below as a natural lead-in to additional
						content. This content is a little bit longer.
					</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
		</div>
	</div>

	<div class="card mb-3" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="http://endocrino.cat/IMAGES_26/milk-1887237-960-720.jpg"
					class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h2 class="card-title">Lacteos y Cereales</h2>
					<p class="card-text">
						This is a wider card with supporting text below as a natural lead-in to additional
						content. This content is a little bit longer.
					</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
		</div>
	</div>

	<div class="card mb-3" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjWJM3BONb1M0tSAUzSOmK1kJjhq2Bw0HtuA&usqp=CAU" class="img-fluid rounded-start"
					alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h2 class="card-title">Granos</h2>
					<p class="card-text">
						This is a wider card with supporting text below as a natural lead-in to additional
						content. This content is a little bit longer.
					</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
		</div>
	</div>

	<div class="card mb-3" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="https://pim-img-psmt1.aeropost.com/n/b/3/4/4/b344e8e084168d31f813a44cb9c743569d6892b2_DogFood_Treats_11069__01.jpg" class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h2 class="card-title">Comida para mascotas</h2>
					<p class="card-text">
						This is a wider card with supporting text below as a natural lead-in to additional
						content. This content is a little bit longer.
					</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
		</div>
	</div>

	<div class="card mb-3" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwjfST4aL6S41QHkFoBQUp6_Hva6FxqDBDvQ&usqp=CAU" class="img-fluid rounded-start"
					alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h2 class="card-title">Bebidas</h2>
					<p class="card-text">
						This is a wider card with supporting text below as a natural lead-in to additional
						content. This content is a little bit longer.
					</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
		</div>
	</div>

</div>

